  <script src="https://cdn.rawgit.com/taromero/swal-forms/master/sweet-alert.js"></script>
  <script src="https://cdn.rawgit.com/taromero/swal-forms/master/swal-forms.js"></script>
  <script src="https://karaoke-heaven.net/public/scripts/forms.js"></script>

  <button id='sample1'>Sample 1</button>
