<!DOCTYPE html>
<html lang="en">
<body>
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                <div class="leftfooter">
                  <a href="">Terms & Conditions</a>
                  <a href="">Privacy Policy</a>
                  <a href="">Cookie Policy</a>
                  <a href="">Event Creation Rules</a>
                </div>
            </div>
           
            <div class="col-md-4 text-center">
                <div class="middlefooter">
                    <a href="">placeholder</a>
                </div>
            </div>
            
            <div class="col-md-4 text-right">
                <div class="logo">
                    <img src="public/images/logo.png" alt="">
                </div>
            </div>

        </div>
</header>
