<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/style/karaokeheaven.css">
<head></head>

<body>

<div id="avatar">

    <!-- Placeholder for avatar --> 
    <img src="">

</div>


<div id="username">

    <!-- Placeholder for username --> 
    <h3 style="font-family: 'Roboto', sans-serif;">username</h3>

</div>

<div id="discriminator">

    <!-- Placeholder for discriminator --> 
    <h3 style="font-family: 'Roboto', sans-serif;">#1234</h3>

</div>

<div id="logo">

    <!-- Placeholder for logo --> 
    <img src="" alt="logo">

</div>

<div id="coins">

    <!-- Placeholder for coins icon --> 
    <img src="">
    <h3 style="font-family: 'Roboto', sans-serif;">123,456</h3>

</div>


</body>

