<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/style/karaokeheaven.css">
<link rel="stylesheet" type="text/css" href="/public/style/boostrap.css">
<head></head>

<body>

<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark"> <!-- You just gotta add your own color this is a example color from Bootstrap itself --> 
    <div class="container">
     <span class="navbar-brand mb-0 h1">Billy is bad</span>
  </div>
  
  </nav>

</body>

