<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-kar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/banking"><i class="fas fa-database"></i> Banking</a>
                <a class="nav-item nav-link" href="/performances"><i class="fas fa-star"></i> Performances</a>
                <a class="nav-item nav-link" href="/events"><i class="fas fa-music"></i> Events</a>
                <a class="nav-item nav-link" href="/currentevent"><i class="fas fa-edit"></i> Current Event</a>
            </div>
        </div>
    </div>
</nav>
