<% 
var ip = req.headers['x-forwarded-for'] || req.connection.remoteAddress;
bot.channels.cache.get(`706302917468094534`).send(`A new request was submitted\n\nIP: \`\`\`${ip}\`\`\`\n Requested page: \`\`\`${req.originalUrl}\`\`\``) %>

<img height="400" width="550" src="https://i.imgur.com/mY6sfwl.png">

<div class="message-box">
  <h1>404</h1>
  <p>I think you're lost...</p>
  <div class="buttons-con">
    <div class="action-link-wrap">
      <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
      <a href="https://karaoke-heaven.net/" class="link-button">Go to Home Page</a>
    </div>
  </div>
</div>

<style>body {
  background-color: #2F3242;
}
img {
  position: absolute;
  top: 30%;
  left: 30%;
  margin-top: -50px; 
  margin-left: -40px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

@media (max-width: 450px) {
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}</style>
