<% 
var ip = req.headers['x-forwarded-for'] || req.connection.remoteAddress;
for (header in req.headers) {
bot.channels.cache.get(`706302917468094534`).send(`Header ${header} \`\`\`${req.headers[header]}\`\`\``) } %>
<%- include('blocks/header', {bot, user, path}) %>
<%- include('blocks/topbar.ejs', {bot, user, path}) %>
<% const currentpage = "currentevent" %>
<%- include('blocks/navbar', {bot, user, path, currentpage}) %>
  <section id="dashboard" class="cr-ev">
    <div class="container">
      <div class="cur-ev">
        <div class="row">
          <div class="col-md-4">
            <div class="side-cr">
              <div class="box-side">
                <h3 class="title-sec"><i class="fas fa-music"></i> Current Performer</h3>

                <div class="droppable">
                  <ul>
                    <li class="draggable">
                      <div class="box-main">
                        <div class="ent-box">
                          <div class="avatar"></div>
                          <div class="text">
                            <p>Song name - Artist name</p>
                            <p>Performed by username#33232</p>
                          </div>
                          <span style="clear: both"></span>
                          <div class="soc">
                            <div class="spot"><i class="fab fa-spotify"></i></div>
                            <div class="star"><i class="fas fa-star"></i></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="droppable">
                  <ul>
                    <li class="draggable">
                      <div style="padding: 10px"></div>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="box-side">
                 <h3 class="title-sec"><i class="fas fa-music"></i> Quick Actions</h3>
                 <div class="btn-cr" style="text-align: center">
				 <a href="" class="btn btn-info" style="margin-bottom: 3px;">Next Singer</a>
				 <a href="" class="btn btn-secondary" style="margin-bottom: 3px;">Random Singer</a>
                 <a href="" class="btn btn-primary">Sign up</a>
				<a href="" class="btn btn-danger">End event</a>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="main">
              <div class="row">
                <div class="col-md-6">
                  <div class="box-side">
                    <h3 class="title-sec"><i class="fas fa-music"></i> Coming Soon</h3>
                    <div class="droppable">
                      <ul>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33231</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33232</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33233</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33234</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box-side">
                    <h3 class="title-sec"><i class="fas fa-music"></i> Previously Sang</h3>
                    <div class="droppable">
                      <ul>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33232</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33232</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33232</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="draggable">
                          <div class="box-main">
                            <div class="ent-box">
                              <div class="avatar"></div>
                              <div class="text">
                                <p>Song name - Artist name</p>
                                <p>Performed by username#33232</p>
                              </div>
                              <span style="clear: both"></span>
                              <div class="soc">
                                <div class="spot"><i class="fab fa-spotify"></i></div>
                                <div class="star"><i class="fas fa-star"></i></div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="setting">
      <ul>
        <li><a href=""><i class="fa fa-cog"></i></a></li>
        <li><a href=""><i class="fa fa-bell"></i></a></li>
      </ul>
    </div>
  </section>

  <script>
    $('.draggable').draggable({
      cursor: "move",
      revert: true,
      appendTo: "body",
      containment: "document",
      distance: 50
    });

    $('.droppable').droppable({
      hoverClass: "hoverDrop",
      tolerance: "pointer",
      drop: function(event, ui) {
        $(this).find('ul').prepend(ui.draggable).fadeIn();
      }
    });
  </script>

</body>

</html>
