<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1>Karaoke Heaven Dashboard</h1>
      <p class="lead">      
        
      </p>
      
        <button onclick='func1()'>Click to uwu</p>

        <script>
          function func1(){
             fetch('/uwu', {method: 'POST'})
            .then(function(response) {
              if(response.ok) {
                console.log('Click was recorded');
                return;
              }
            })
          }
        </script>

    </div>
  </div>
