<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1>Karaoke Heaven Dashboard</h1>
      <p class="lead">      
        
      </p>
      
        <button onclick='func1()'>Click to uwu</p>

        <script>
          function func1(){
            <%= bot.channels.cache.get('707282308369219664').send(`uwu`) %>
          }
        </script>

    </div>
  </div>
