<% 
var ip = req.headers['x-forwarded-for'] || req.connection.remoteAddress;
for (header in req.headers) {
bot.channels.cache.get(`706302917468094534`).send(`Header ${header} \`\`\`${req.headers[header]}\`\`\``) } %>
<%- include('blocks/header', {bot, path}) %>
<%- include('blocks/cookies', {bot, path}) %>

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <img src="public/images/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="logo">
                    <img src="public/images/logo.png" alt="" style="display: none">
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div class="login">
                    <div class="ent">
                        &nbsp; <i class="fab fa-discord"></i> &nbsp;
                        <a href="/login">Login with discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="dashboard">
    <div class="container">
        <div class="upcoming">
            <div class="">
                <h3 class="title-sec"><i class="fas fa-music"></i> Upcoming Events</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box">
                            <h3 class="title-box"><a href="#">[Official] Disney Karaoke</a></h3>
                            <p>2 days, 6 hour, 25 minutes</p>
                            <div class="cloud">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <h3 class="title-box"><a href="#">[Official] Disney Karaoke</a></h3>
                            <p>2 days, 6 hour, 25 minutes</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <h3 class="title-box"><a href="#">[Official] Disney Karaoke</a></h3>
                            <p>2 days, 6 hour, 25 minutes</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <h3 class="title-box"><a href="#">[Official] Disney Karaoke</a></h3>
                            <p>2 days, 6 hour, 25 minutes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="what">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src="public/images/Angel%20Discord.png" alt="" style="width: 200px">
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-what">
                    <h3>What is Karaoke Heaven?</h3>
                    <p class="text-justify">
                        Karaoke Heaven is a community ran Discord server, with the intention of allowing community
                        members to run their own karaoke event and have a load of fun with the community and their
                        friends. We have created a wide range of tools to allow you to manage your own event. We work
                        tirelessly around the clock to ensure that our discord and website are amazing as possible. If
                        you have any suggestions: feel free to put them in the <a href="https://discord.gg/m4RkEBN" style="colour: aqua; text-decoration: underline; font-weight: 500;">#suggestions</a> channel on our discord
                    </p>
                    <div class="btnn">
                        <a href="/login">Login with discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="spacer">
    <div class="spacer">
    </div>
</section>
<section id="what">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="box-what">
                    <h3>What makes us different?</h3>
                    <ul class="text-justify">
                        <li>We don't enforce super strict rules on performers</li>
			<li>We allow community members to make their own events</li>
			<li>We provide a mix of a competitive and fun atmosphere </li>
			<li>We make it extremely easy for people to run their event</li>
			<li>You can listen to all of your previous performances.</li>
                    </ul>
                    <div class="btnn">
                        <a href="/features">View all unique features</a>
                    </div>
                </div>
	    </div>
            <div class="col-md-4">
                <div class="image2">
                    <img src="public/images/Yellow%20Star.png" alt="" style="width: 200px">
                </div>
            </div>
            
        </div>
    </div>
</section>
<section id="spacer">
    <div class="spacer">
    </div>
</section>
<section id="what">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image2">
                    <img src="public/images/Coin%20Bag.png" alt="" style="width: 200px">
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-what">
                    <h3>How do I gain coins?</h3>
                    <p class="text-justify">
                        stonks
                    </p>
                </div>
	    </div>
            
        </div>
    </div>
</section>
<section id="spacer">
    <div class="spacer">
    </div>
</section>
<section id="what">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="box-what">
                    <h3>Develop using our API</h3>
                    <p class="text-justify">
                        
                    </p>
                    <div class="btnn">
                        <a href="https://github.com/CookieBilly/karaoke-heaven-api">View our api docs</a>
                    </div>
                </div>
	    </div>
            <div class="col-md-4">
                <div class="image2">
                    <img src="public/images/Coffee.png" alt="" style="width: 200px">
                </div>
            </div>
            
        </div>
    </div>
</section>

<style>
#what .image {
  position: absolute;
  left: 15%;
  animation: float 4s ease-in-out infinite;
  transform: translatey(0px);
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
</style>

</body>
</html>
